.bg-dark {
  background: rgb(55,55,55);
  background: linear-gradient(180deg, rgba(55,55,55,1) 0%, rgba(38,40,40,1) 83%);
}

.bg-gradient {
  background: rgb(85,87,86);
  background: linear-gradient(90deg, rgba(85,87,86,1) 40%, rgba(49,49,49,1) 70%)!important;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.limit {
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Clip any overflowing content */
}

.limit img {
  width: 100%; /* Stretch image to fill width */
  height: 100%; /* Stretch image to fill height */
  object-fit: cover; /* Maintain proportions while filling container */
}
img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container-fluid {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure it matches the viewport height */
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1f1f1f;
  padding: 10px 0;
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  border: 1px solid #dee2e6;
}